@model HRA4.ViewModels.Appointment
@{
    Layout = null;
}
@*<link href="~/css/tablesorter.css" rel="stylesheet" />*@

<div class="quick-add-inner-div">
    @{
        string strMrn = Model.MRN;
        int apptId = Model.Id;
        string flag = Model.DisplayHeaderMenus;
    }

    @if (flag == "Yes")
    {
        <div class="col-sm-12 quick-add-links">

            <span onclick="NewDocument('@Url.Action("NewDocument", "Institution")','@Model.MRN.ToString()', '@Model.Id.ToString()');">
                <a href="#" data-toggle="modal" data-target="#schedule-new-doc-modal" data-backdrop="static" data-keyboard="false">
                    <img src="~/images/new-doc-ico.svg" alt="New Document" width="30" height="30" title="New Document" /> New Document
                </a>
            </span>
            @*<a href="#"><img src="~/images/new-doc-ico.svg" alt="New Document" width="30" height="30" title="New Document" /> New Document</a>*@
            <a href="#"><img src="~/images/edit-survey-ico.svg" alt="Edit Survey" width="30" height="30" title="Edit Survey" /> Edit Survey</a>
            <span onclick="RiskCalculation('@Url.Action("RiskCalculation", "Institution")','@Model.MRN.ToString()','@Model.Id.ToString()','Show');">
                <a href="#" data-toggle="modal" data-target="#risk-calc-display-modal" data-backdrop="static" data-keyboard="false"><img src="~/images/risk-calc-ico.svg" alt="Risk Calculation" width="30" height="30" title="Risk Calculation" /> Risk Calculation</a>
            </span>
            <div class="dropdown" style="position:relative;display:inline">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="position:relative">
                    <img src="~/images/import-export-ico.svg" alt="Import or Export" width="30" height="30" title="Import or Export" /> Import &frasl;Export
                </a>
                <ul class="dropdown-menu import-menu">
                    <li class="dropdown-submenu">
                        <a href="#">Save as XML</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ExportAsXml","Institution", new { mrn = strMrn, apptId = apptId, identified = true }, null)">De-Identified</a></li>
                            <li><a href="@Url.Action("ExportAsXml","Institution", new { mrn = strMrn, apptId = apptId, identified = false }, null)">Identified</a></li>
                        </ul>
                    </li>
                    <li>
                        <span onclick="SetValues('@Model.MRN.ToString()', '@Model.Id.ToString()','xml','@Url.Action("ImportAsXml", "Institution")');">
                            <a data-toggle="modal" data-target="#upload-xml">Load from XML</a>
                        </span>
                        <input type="hidden" id="hidMrn" />
                        <input type="hidden" id="hidAppid" />
                        <input type="hidden" id="hidType" />
                        <input type="hidden" id="hidUploadUrl" />
                    </li>


                    <li class="dropdown-submenu">
                        <a href="#">Save as HL7</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("ExportAsHL7","Institution", new { mrn = strMrn, apptId = apptId, identified = true }, null)">De-Identified</a>
                            </li>
                            <li><a href="@Url.Action("ExportAsHL7","Institution", new { mrn = strMrn, apptId = apptId, identified = false }, null)">Identified</a></li>
                        </ul>
                    </li>
                    <li>
                        <span onclick="SetValues('@Model.MRN.ToString()', '@Model.Id.ToString()','hl7','@Url.Action("ImportAsHL7", "Institution")');">
                            <a data-toggle="modal" data-target="#upload-xml">Load from XML</a>
                        </span>
                    </li>
                </ul>
            </div><!--Import/export dropdown end-->


            <span onclick="RunDocs('@Model.MRN.ToString()','@Model.Id.ToString()');" style="margin-right:6px;">
                <a data-toggle="modal" data-target="#browse-xml-modal" data-backdrop="static" data-keyboard="false">
                    <img src="~/images/run-auto-doc-ico.svg" alt="Run automation documents" width="30" height="30" title="Run automation documents" />
                    Run Automation Documents
                </a>
            </span>
            <span onclick="SetValues('@Model.MRN.ToString()', '@Model.Id.ToString()','@Url.Action("FilteredInstitution", "Institution")','@Url.Action("DeleteAppointment", "Institution")');">
                <a data-toggle="modal" data-target="#confirm-xml" href="#">
                    <img src="~/images/delete-appointment-ico.svg" alt="Delete Appointment" width="30" height="30" title="Delete Appointment" /> Delete Appointment
                </a>
            </span>

        </div>
    }
    @using (Ajax.BeginForm("InstitutionSave", "Institution", new { MarkAsComplete = false, Hfddlclinic="" }, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "TestOnSuccess",
        OnBegin = "saveClinic",

    }, new { id = "frmSaveInst" }))
    {
        
        @Html.HiddenFor(item => item.Id)
        <div class="clear-float header-bdr Padding-TB-10"><hr /></div>
        if (flag == "Yes")
        {
            <div class="row">


                <div class="col-sm-12 align-right">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(item => item.MarkAsComplete, new { @id = @Model.Id + "chk" })Mark As Complete
                            @Html.HiddenFor(item => item.MarkAsComplete, new { @id = @Model.Id + "hf" })
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row redfields">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Name *</label>
                    @Html.TextBoxFor(item => item.PatientName, new { @class = "form-control",@maxlength="100" })
                    @Html.Hidden("Hfddlclinic")
                </div>

            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>MRN *</label>
                    @Html.TextBoxFor(item => item.MRN, new { @id = "MRN", @class = "form-control", @maxlength = "50" })

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>DOB *</label>
                    <div id="DOB" class="inner-addon right-addon form-group">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <input type="text" class="datepicker form-control" name="dob-date" id="dob-date" value="@Model.DateOfBirth.ToString("MM/dd/yyyy")" />
                        @*@Html.EditorFor(item => item.DateOfBirth, new { @class = "datepicker form-control", @id = "dob-date" })*@
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Gender *</label>
                    @Html.DropDownList("ddlGenders", new SelectList(@Model.Genders, "--select--"), new { @class = "form-control" })
                </div>
            </div>

        </div><!--row end-->
        <div class="row redfields">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Appointment Date *</label>
                    <div id="edit-app-date-container" class="inner-addon right-addon form-group">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <input  type="text" class="datepicker form-control" name="edit-app-date" id="edit-app-date" value="@Model.AppointmentDate.ToString("MM/dd/yyyy")" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Time *</label>
                    @Html.DropDownList("ddlappttimes", new SelectList(@Model.appttimes, "--select--"), new { @class = "form-control" })
                    @*<div class="input-group bootstrap-timepicker timepicker">
                        <input id="timepicker1" type="text" class="form-control input-small">
                        
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Survey *</label>
                    @*@Html.TextBoxFor(item => item.Survey, new { @class = "form-control",@maxlength = "50" })*@
                    @Html.DropDownList("ddlSurvey", new SelectList(@Model.SurveyList, @Model.Survey), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Clinic *</label>
                    @Html.DropDownList("ddlclinics", new SelectList(@Model.clinics,"clinicID","clinicName",@Model.clinicID ,"--select--"), new { @class = "form-control" })
                </div>
            </div>

        </div><!--row end-->

        <br />
        <div class="row">
            <div class="col-sm-12">
            @if (flag == "Yes")
            {
                <a href="javascript:void(0)" onclick="moredetails();" class="schedule-more-detail pull-right">More Details <i class="fa fa-plus-circle"></i></a>
            }
                <div id="" class="schedule-more-detail-content clear-float addAppointmemntDiv">
                    <div class="row  header-bdr Padding-TB-10"><hr /></div>
                    <div class="row">
                        @*<div class="col-sm-3">
                                <div class="form-group">
                                    <label>Area</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Assessment</label>
                                <select id="Assessment" name="Assessment" class="form-control">
                                    <option>Cancer Screening</option>
                                    <option>Cancer Genetics-Breast</option>
                                    <option>Cancer Genetics-Colon</option>
                                    <option>Cancer Genetics</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Language</label>
                                @Html.DropDownList("ddlLanguages", new SelectList(@Model.Languages, @Model.Language), new { @class = "form-control" })
                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Race</label>
                                @Html.DropDownList("ddlRaces", new SelectList(@Model.Races, "--select--"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div><!--row end-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nationality</label>
                                @Html.DropDownList("ddlNationalities", new SelectList(@Model.Nationalities, "--select--"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Occupation</label>
                                @Html.TextBoxFor(item => item.Occupation, new { @class = "form-control", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Education</label>
                                @Html.TextBoxFor(item => item.Education, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Marital Status</label>
                                @Html.TextBoxFor(item => item.Maritalstatus, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div><!--row end-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address 1</label>
                                @Html.TextBoxFor(item => item.Address1, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address 2</label>
                                @Html.TextBoxFor(item => item.Address2, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div><!--row end-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(item => item.City, new { @class = "form-control", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>State</label>
                                @Html.DropDownList("ddlStates", new SelectList(@Model.States, "--select--"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Zip</label>
                                @Html.TextBoxFor(item => item.Zip, new { @class = "form-control",@type="number"})
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Country</label>
                                @Html.DropDownList("ddlCountries", new SelectList(@Model.Countries, "--select--"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div><!--row end-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Home Phone</label>
                                @Html.TextBoxFor(item => item.Homephone, new { @class = "form-control", @type = "number", @maxlength = "50" })
                                @*<div class="row phone-no-input">

                                        <div class="col-sm-4"><input class="form-control" maxlength="3" /> </div>
                                        <div class="col-sm-4"><input class="form-control" maxlength="3" /> </div>
                                        <div class="col-sm-4"><input class="form-control" maxlength="4" /> </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Work Phone</label>
                                @Html.TextBoxFor(item => item.Workphone, new { @class = "form-control", @type = "number", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Mobile Phone</label>
                                @Html.TextBoxFor(item => item.Cellphone, new { @class = "form-control", @type = "number", @maxlength = "50" })
                            </div>
                        </div>
                    </div><!--row end-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Email Address</label>
                                @Html.TextBoxFor(item => item.EmailAddress, new { @class = "form-control", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Appointment Physician</label>
                                @Html.DropDownList("ddlAppointmentPhysicians", new SelectList(@Model.AppointmentPhysicians, "--select--"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div><!--row end-->

                    <div id="AddProvidersDiv">

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Ref Phys</label>
                            </div>
                            <div class="col-sm-3">
                                <label>PCP</label>
                            </div>

                        </div><!--row end---->
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.DropDownList("ddlRefPhysician", new SelectList(@Model.Providers, "Id", "ProviderName", @Model.RefPhysician, "--select--"), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                @Html.DropDownList("ddlPCP", new SelectList(@Model.Providers, "Id", "ProviderName", @Model.PCP, "--select--"), new { @class = "form-control" })
                            </div>
                        </div><!--row end---->
                        <br />
                    </div>


                </div><!--col-sm-12 end-->
            </div><!--row end-->

        </div><!--quick-add-links end-->
        <br />
        <div class="row">
            <div class="col-sm-12 align-right">
                <div class="form-group">
                    <button id="btnSaveQuick" type="submit" class="pull-right btn btn-success btn-sm  Margin-L-10">Save</button>
                    <button id="@Model.Id" type="button" class="pull-right btn btn-cancel btn-sm btnClear" onclick="cancel(this,'@Model.DisplayHeaderMenus','@Url.Action("DeleteAppointment", "Institution")','@Model.Id.ToString()','@Model.IsGoldenAppointment','@Model.IsCopyAppointment'); return false;">Cancel</button>
                </div>
            </div><!--schedule-more-detail-content end-->
        </div>
    }
</div>
<script type="text/javascript">
    $('#dob-date, #edit-app-date').datepicker()//  id with "dob-date" will pop up a datepicker
	.on('changeDate', function () { // when the datechanges
	    $('#dob-date').datepicker('hide');
	    $('#edit-app-date').datepicker('hide');   // hide the datepicker
	});
</script>
