@model IEnumerable<HRA4.ViewModels.Appointment>
@{
    Layout = null;
}
@*<link href="~/css/tablesorter.css" rel="stylesheet" />*@

<table id="myTable" class="table table-striped apppointment-table">
    <thead>
        <tr>
            <th>
                App Date/Time
            </th>
            <th>
                Name
            </th>
            <th>
                MRN
            </th>
            <th>
                DOB
            </th>
           
            <th>
                Provider
            </th>
            <th>
                Date Completed
                
            </th>
            <th>
                Disease Hx
                
            </th>
            <th>
                Survey
                
            </th>
            <th>
                DNC
            </th>
            <th>
                Quick Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           
            <tr>
                <td>
                    @{
            string appdate = (item.AppointmentDate == DateTime.MinValue ? "" : item.AppointmentDate.ToString("MM/dd/yyyy hh:mm:ss"));
                    }
                    @Html.DisplayFor(modelItem => appdate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MRN)
                </td>
                <td>
                    @{
                        string dob = (item.DateOfBirth == DateTime.MinValue ? "":item.DateOfBirth.ToString("MM/dd/yyyy") );
                    }
                    @Html.DisplayFor(modelItem => dob)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>
                    @{
            string dateCompleted = (item.DateCompleted == DateTime.MinValue ? "" : item.DateCompleted.ToString("MM/dd/yyyy hh:mm:ss"));
                    }
                    @Html.DisplayFor(modelItem => dateCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseHx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Survey)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.DoNotCall)*@
                    <img src="~/images/DNC-Y-ico.svg" alt="Do not call" width="30" height="30" data-toggle="tooltip" data-placement="top" title="Add to Do Not Call list." />
                </td>
                <td>
                    <a href="#"><img src="~/images/refresh-grid-ico.svg" alt="Refresh" width="30" height="30" /></a>
                    <a href="#"><img src="~/images/copy-grid-ico.svg" alt="Refresh" width="30" height="30" /></a>
                    <a href="#" id="quick_edit"><img src="~/images/edit-grid-ico.svg" alt="Refresh" width="30" height="30" data-toggle="tooltip" data-placement="top" title="Edit" /></a>
                </td>
            </tr>
            <tr id="quick_edit_div">
                <td colspan="10">
                    @Html.Partial("_InstitutionRow", item)
                </td>
            </tr>


        }
        
    </tbody>
</table><!--schedule list end here-->
<script type="text/javascript">

    $(document).ready(function () {
        $("#myTable").tablesorter();
    });


</script>