@model HRA4.ViewModels.TemplateList


<!-- Modal content-->
<div class="modal-content" style="width:950px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Document</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-4 modal-sidebar">
            <h5 style="background-color:#d6efff;">Suggested Documents</h5>

            <ul style="list-style-type:none;">
                @foreach (var item in Model.SuggestedDocument)
                {
                    <li>
                        <span onclick="ShowDocument('@Url.Action("ShowHtml", "Institution")','@item.Id');">
                            <a href="#">@item.TemplateName</a>
                        </span>

                    </li>
                }

            </ul>
            <h5>Other Documents</h5>
            <ul>
                @foreach (var item in Model.OtherDocuments)
                {
                    <li>
                        <span onclick="ShowDocument('@Url.Action("ShowHtml", "Institution")','@item.Id');">
                            <a href="#">@item.TemplateName</a>
                        </span>
                    </li>
                }

            </ul>
        </div>
        <div class="col-sm-8 Padding-R-0">
            <div id="divShowHtml" style="height: 450px;">

            </div>
            
        </div>
    </div> <!--modal body end-->
    <div class="clear-float"><br /></div>
</div>

