@model IEnumerable<HRA4.ViewModels.Appointment>

@{
    ViewBag.Title = "InstitutionDashboard";
}

<h2>InstitutionDashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseHx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoNotCall)
        </th>
        <th></th>
    </tr>
    <tr style="display:none"><td>Add Appointment</td></tr>
   
@foreach (var item in Model) {
     <tr style="display:none"><td>Edit Appointment</td></tr>    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseHx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoNotCall)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
