@model IEnumerable<HRA4.ViewModels.Appointment>

@{
    ViewBag.Title = "InstitutionDashboard";

}

@section breadcrumbs{
    <div class="clearfix header-bdr"><hr /></div>
    <div>
        <div class="container">
        <div class="col-sm-4 top-breadcrumb">Dashboard</div>
        <div class="col-lg-5 col-md-7 col-sm-7 help pull-right">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="left" title="Help" id="admin-dropdown" aria-haspopup="true" aria-expanded="true">Help <img src="~/images/help-ico.svg" width="25" height="25" alt="logout" /></a>
                <ul class="dropdown-menu help-menu col-md-2 pull-right" aria-labelledby="help-dropdown">
                    <li><a href="#"><i class="fa fa-building"></i> About Us</a></li>
                    <li><a href="http://www.hughesriskapps.net/contactus.php" target="_blank"><i class="fa fa-map-marker"></i> Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>   }

@if (ViewBag.instListcount == 0 || ViewBag.instListcount==null)
{
    <div class="modal fade" tabindex="-1" role="dialog" id="dashboardmodal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You have not entered any institution data. Please start by<a href="@Url.Action("ManageInstitution", "Admin")"> entering an institution name.</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{
        

<!--container area start here-->

    @*<form id="frmDashboard" defaultbutton="btnsearch">*@
    <div class="content-area container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 horizontal-devider">
                    <div class="form-group ">
                        <label class="control-label " for="custom-clinic"> Choose Clinic</label>
                            @Html.DropDownList("ddClinic", ViewBag.ClinicList as SelectList, "All Clinics", new { @class = "form-control" })
                            @*<select class="form-control" id="custom-clinic" name="custom-clinic">
                            <option>Test1</option>
                            <option>Test2</option>
                                </select>*@

                    </div>
                </div>
                <div class="visible-sm clear-float"></div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group ">
                        <label class="control-label " for="name">Quick Search</label>
                    <input class="form-control" id="name" name="name" type="text" placeholder="First/Last Name" />
                    </div>
                </div>
                         
                <div class="col-md-2 col-sm-3 Padding-T-28">
                    <input id="chkbox" type="checkbox" checked="checked" />
                    <div id="app-date" class="inner-addon right-addon">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <input data-format="MM-dd-yyyy" type="text" class="datepicker form-control" id="appt-date" placeholder="Appointment Date" value="@ViewBag.TodaysDate" />
                    </div>
                </div>

            <div class="col-md-2 col-sm-2 Padding-T-28 ">
                    <div class="btn-group search-group">
                        <button class="btn btn-default search-btn" id="btnsearch" type="button">Search</button>
                        <span class="glyphicon glyphicon-search search-btn-ico" aria-hidden="true"></span>
                    </div>
                </div>
            </div><!--row end-->
        </div><!--container end-->

        <div class="container-fluid row Padding-LR-0">
            <hr class="hr-style" />
        </div><!--row end-->


        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs col-sm-12" id="myTab">
                    <li class="active">
                            <a data-target="#Schedule" data-toggle="tab">Schedule <span id="ScheduleCount" class="dashboard-count">@ViewBag.AppointmentCount</span> </a>
                            <a href="#" class="tab-refresh"><img src="~/images/tab-refresh-ico.svg" width="20" height="20" alt="Refresh" onclick="SearchAppointment()" /></a>
                    </li>
                    <li>
                            <a data-target="#LifetimeBC" data-toggle="tab">Lifetime Breast Cancer  <span class="dashboard-count">0</span></a>
                        <a href="#" class="tab-refresh"><img src="~/images/tab-refresh-ico.svg" width="20" height="20" alt="Refresh" /></a>
                    </li>
                    <li>
                            <a data-target="#BRCA" data-toggle="tab">BRCA Mutation  <span class="dashboard-count">0</span></a>
                        <a href="#" class="tab-refresh"><img src="~/images/tab-refresh-ico.svg" width="20" height="20" alt="Refresh" /></a>
                    </li>
                    <li class="pull-right add-appointment"><a href="#"><img src="~/images/appointment-ico.svg" alt="Refresh" width="40" height="40" /> Add Appointment</a></li>
                </ul>
            </div><!--row end-->
        </div><!--container end-->

        <div class="container-fluid row Padding-LR-0 bottom-container-area">
            <div class="container">
                <div class="tab-content row">
                    <div class="tab-pane active" id="Schedule">
                        <div class="table-responsive">
                        <div id="divInstitutionGrid">
                            @Html.Partial("_InstitutionGrid", Model)
                        </div>
                                <div id="divRecordStatus" style="color:red;text-align:center">@ViewBag.RecordStatus</div>
                        </div>
                    </div><!--schedule tab end here-->
                    <div class="tab-pane" id="LifetimeBC">
                        Lifetime cancer Lifetime cancer Lifetime cancer
                    </div><!--lifetime cancer end-->
                    <div class="tab-pane" id="BRCA">
                        BRCA BRCA BRCA
                    </div><!--BRCA tab end here-->
                </div><!--row end-->

                <div class="row">


                </div><!--row end-->

            </div><!--container end-->

        </div><!--container fluid end-->
    </div> <!-- /container area end -->
    @*</form>*@
}
<style>
    #progressbar .ui-progressbar-value {
        background-color: #ccc;
    }
</style>
<script type="text/javascript">
    function spin() {
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('msgbody');
        var spinner = new Spinner(opts).spin(target);

    };
    function RunDocs(MRN, apptid) {
        var globalGetJSONPath = '@Url.Action("RunAutomationDocuments", "Institution")';
        $.ajax({
            beforeSend: function () {
                $("#line").hide();
                $("#loading").hide();
                $('#Downloadbtn').prop('disabled', true);
                $('#CloseBtn').prop('disabled', true);
                $("#msgbody").html('<div id="progressbar"></div>');
                $("#progressbar").progressbar({
                    value: false
                });
               
            },
            type: "POST",
            url: globalGetJSONPath,
            data: { apptid: apptid, MRN: MRN },
            dataType: "json",
            async: true,
            success: function (data) {
                $("#msgbody").html('<br><div id="line">Run Automation Documents Process Finished Click on download</div></br>');
                $('#Downloadbtn').prop('disabled', false);
                $('#CloseBtn').prop('disabled', false);
            }
        }).always(function (Data) {

        });
    };

    function hide() {
        $('#browse-xml').hide();

    };
    $(document).ready(function () {

        $("#frmDashboard").keypress(function (e) {
            kCode = e.keyCode || e.charCode //for cross browser
        if (kCode == 13) { var defaultbtn = $(this).attr("DefaultButton");
            $("#" + defaultbtn).click();
            return false;
        }
        });       




        $('#Downloadbtn').click(function ()
        {
            var globalGetJSONPath = '@Url.Action("DownloadFile", "Institution")';
            $.ajax({
                type: "GET",
                url: globalGetJSONPath,
                success: function (data) {
                    
                }
            }).always(function (Data) {
                $("#loading").hide();
            });

        });

        $('#chkbox').change(function () {
            if ($(this).is(":checked")) {
                /*
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                var today = mm + '/' + dd + '/' + yyyy;
                $("#appt-date").val(today);
                */
                $("#appt-date").prop('readonly', false);
                $('#appt-date').prop('disabled', false);
                
                
            } else {
                $("#appt-date").prop('readonly', true);
                $('#appt-date').prop('disabled', true);
               // $("#appt-date").val('');
               
            }
            SearchAppointment();

        });

        $("#btnsearch").click(function (data) {
            SearchAppointment();
        });

        $("#ddClinic").change(function (data) {
            SearchAppointment();
        });
          
       


        
       




        });


    function SearchAppointment() {

            var name = $('#name').val();
            var appdt = $('#chkbox').is(":checked") ? $('#appt-date').val():"";
            var clinicId = $('#ddClinic').val().length > 0 ? $('#ddClinic').val(): "-1" ;
         
            var globalGetJSONPath = '@Url.Action("FilteredInstitution", "Institution")';

            $.ajax({
                type: "POST",
            url: globalGetJSONPath,
            data: { name: name, appdt: appdt, clinicId: clinicId },
                dataType: "json",
            async: true,
            success: function (Data) {
                    $('#divRecordStatus').html('');
                    $('#ScheduleCount').html(Data.apps_count);
                    $('#divInstitutionGrid').html(Data.view);
                    //if ($('#chkbox').is(":checked"))
                    //{
                    //    alert("Hi");
                    //    $("#appt-date").val(Data.todaysDate);
                    //}
                    
                    if (parseInt(Data.apps_count, 0) == 0)
                    {
                        $('#divRecordStatus').html("No records found.");
                    }
                    
                    
                }

            })

        }
   
    

    function AddRemoveTask(isDNC, unitnum, apptid) {

            var name = $('#name').val();
            var appdt = $('#appt-date').val();
        var clinicId = $('#ddClinic').val().length > 0 ? $('#ddClinic').val() : "-1";

        var globalGetJSONPath = '@Url.Action("AddRemoveTask", "Institution")';

            $.ajax({
                type: "POST",
                url: globalGetJSONPath,
            data: { name: name, appdt: appdt, isDNC: isDNC, unitnum: unitnum, apptid: apptid, clinicId: clinicId },
                dataType: "json",
            async: true,
                success: function (Data) {
                $('#divRecordStatus').html('');
                $('#ScheduleCount').html(Data.apps_count);
                    $('#divInstitutionGrid').html(Data.view);
                if (parseInt(Data.apps_count, 0) == 0) {
                    $('#divRecordStatus').html("No records found.");
                }
                }
            })
        };



    

</script>
