@model IEnumerable<HRA4.ViewModels.Appointment>

@{
    ViewBag.Title = "InstitutionDashboard";

}

@if (ViewBag.instListcount == 0 || ViewBag.instListcount == null)
{
    <div class="modal fade" tabindex="-1" role="dialog" id="dashboardmodal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You have not entered any institution data. Please start by<a href="@Url.Action("ManageInstitution", "Admin")"> entering an institution name.</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{

    
    <div class="content-area container-fluid ">
        <div class="container-fluid row Padding-LR-0 bottom-container-area">
            <div class="container middle-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="wrapper" class="toggled-2">
                            <!-- Sidebar -->
                            <div id="sidebar-wrapper">
                                
                                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                                    <li class="active">
                                        <a href="#" class="schedule-icon"> Schedule <span id="ScheduleCount" class="dashboard-count">@ViewBag.AppointmentCount</span></a>
                                        <ul class="nav-pills nav-stacked sidebar-nav-child" style="list-style-type:none;">
                                            <li class="add-appointment">
                                                <a href="#" id="lnkapptment" data-toggle="modal" data-target="#add-edit-MRN" data-backdrop="static" data-keyboard="false">
                                                    <img src="~/images/add-appointment-ico.svg" alt="Refresh" width="25" height="25" /> Add Appointment
                                                </a>
                                                </li>
                                            <li>
                                                <div class="form-group">
                                                    <label class="control-label " for="custom-clinic"> Choose Clinic</label>
                                                    @Html.DropDownList("ddClinic", ViewBag.ClinicList as SelectList, "All Clinics", new { @class = "form-control" })
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-group">
                                                    <label class="control-label " for="name">Quick Search</label>
                                                    <input class="form-control" id="name" name="name" type="text" placeholder="Name/MRN" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pull-left"><input type="checkbox" id="chkbox" checked="checked" name="appt-date-checkbox" class="" /></div>
                                                <div id="app-date" class="inner-addon right-addon pull-right form-group">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    <input data-format="MM-dd-yyyy" type="text" class="datepicker form-control" id="appt-date" placeholder="Appointment Date" value="@ViewBag.TodaysDate" />
                                                </div>
                                            </li>
                                            <li class="pull-right">
                                                <div class="btn-group search-group Margin-B-10" id="divSearch">
                                                      <button class="btn btn-default search-btn" id="btnsearch" type="button">Search</button>
                                                    <span class="glyphicon glyphicon-search search-btn-ico" aria-hidden="true"></span>
                                                </div> <br />
                                            </li>
                                        </ul><!--sidebar child end here-->
                                    </li>
                                    <li class="clear-float">
                                        <a title="Lifetime Breast Cancer" href="@Url.Action("Index", "HighRiskFollowup", new { type = "LBC" })" class="breast-cancer-icon">Lifetime Breast Cancer <span class="dashboard-count">@ViewBag.LBCCount</span></a>
                                    </li>

                                    <li>
                                        <a title="BRCA Mutation" href="@Url.Action("Index", "HighRiskFollowup", new { type = "BRCA" })" class="BRCA-icon">BRCA Mutation <span class="dashboard-count">@ViewBag.BRCACount</span></a>
                                    </li>
                                </ul>

                            </div><!-- /#sidebar-wrapper -->
                            <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1">
                                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2" style="left:32px;"><i class="fa fa-chevron-circle-right fa-lg"></i></button>
                            </div><!--  sidebar toggle div end -->
                            <!-- Page Content -->

                            <div id="page-content-wrapper" class="clear-float">
                                <div class="container-fluid xyz clear-float">
                                    <div class="row">
                                        <h3 class="pull-left page-title">Schedule</h3>
                                     
                                        <a class="pull-right left-title" onclick="SearchAppointment('@Url.Action("FilteredInstitution", "Institution")');"><img src="~/images/refresh-grid-ico.svg" class="refresh-istitution-list" alt="Refresh" width="22" height="22" />Refresh Appointment List</a>
                                         
                                        <div class="clear-float">                                              
                                        </div>
                                         
                                        <div class="table-responsive fixed-table-header">
                                            <div class="panel panel-default">
                                                <table class="table table-condensed apppointment-table Margin-T-10">
                                                    <thead>
                                                        <tr>
                                                            <th>App Date/T</th>
                                                            <th>Name</th>
                                                            <th>MRN</th>
                                                            <th>DOB</th>
                                                            <th>Provider</th>
                                                            <th>Mark Survey Complete</th>
                                                            <th>Disease Hx</th>
                                                            <th>Survey </th>
                                                            <th>Do Not Call</th>
                                                            <th>Quick&nbsp;Actions</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div><!--table header end here-->
                                            <div class="div-table-content" id="divInstitutionGrid">
                                                @Html.Partial("_InstitutionGrid", Model)
                                            </div>
                                            </div><!--schedule list div end here-->
                                        <div id="divRecordStatus" style="color:red;text-align:center">@ViewBag.RecordStatus</div>
                                    </div><!--row end-->
                                </div><!--container end-->

                            </div>
                            <!-- /#page-content-wrapper -->
                        </div>
                    </div>
                </div><!--row end-->
            </div><!--container end-->
        </div><!--container fluid end-->
    </div> <!-- /container area end -->
    @*</form>*@

    <!-- Code Start for Model Popup  -->
    <div id="browse-xml-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calculating Risk</h4>
                </div>
                <div class="modal-body align-center">
                    <div id="progressdiv" class="form-group">
                        <label>Calculating Risk Models</label>
                        <br /><br />
                        <img src="~/images/Preloder.GIF" alt="Preloader" />
                    </div>
                    <div id="completeMsg">Run Automation Documents Process Finished Click on download</div>
                </div>
                <div id="progressbar" style="display:none"></div>
                <div id="completeMsg" style="display:none;margin-left: 10px;">Run Automation Documents Process Finished Click on download</div>
                <div class="modal-footer">
                    <a href="@Url.Action("DownloadFile", "Institution")" id="Downloadbtn" class="btn btn-success"> Download</a> @*target="_blank"*@
                </div>
            </div>
        </div>
    </div><!--import/export browse xml modal end-->

    <div id="upload-xml" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Document</h4>
                </div>
                <div class="modal-body">
                    <div class="editor-field">
                        <input id="txtFileUpload" type="file" accept="text/xml" style="width:500px;" />
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" onclick="UploadXml();" value="Upload" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delete confirmation-->
    <div id="confirm-xml" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Confirm Operation</h4>
                </div>
                <div class="modal-body">
                    <div class="editor-field">
                        <b style="color:red; font-size:16px;"><i class="fa fa-exclamation-circle fa-lg"></i></b> <strong>Are you sure you want to delete.</strong><br/><br/>
                    </div>
                    <div class="modal-footer">                       
                        <input class="btn btn-success confirmyes pull-right" type="button" onclick="DeleteAppointment();" value="Yes" />
                        <input class="btn btn-cancel pull-right Margin-R-10" data-dismiss="modal" type="button" value="Cancel" />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delete Confirmation-->
   <!-- Code End for Model Popup  -->

    <!-- Pedigree Diagram  Models popup -->
    <div id="pedigree-diagram-modal" class="modal fade" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pedigree Diagram</h4>
                </div>
                <div class="modal-body">
                    @*For:*@ <b>Patient Name : <span id="spanPatientName"></span>  , MRN : <span id="spanMRN"></span> </b><br />
                    <div class="view-doc-content Margin-T-10">
                        @*style="overflow:scroll"*@
                        <div id="imagediv">

                        </div>
                    </div>
                </div>
            </div> <!--modal body end-->
            <div class="clear-float"><br /></div>
        </div>
    </div>
    <!--Pedigree Diagram modal end-->

    <!-- risk-calc-display Models popup -->
    <div id="risk-calc-display-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div id="divriskcalculate" class="modal-dialog">

        </div>
    </div><!--risk-calc-display modal end-->

    <!-- New Document Models popup. Don't remove the below div-->
    <div id="schedule-new-doc-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div id="divNewDocument" class="modal-dialog newdoc">

        </div>

    </div><!--New Document modal end-->

    <!-- New MRN popup -->
    <div id="add-edit-MRN" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">New Appointment</h4>
                </div>
                <div id="ApptBody"></div>
                <div id="MRNBody" class="modal-body">
                    <div class="form-group">
                        <label>Enter an MRN Number</label>
                        <input style="width:200px" id="EnteredMRN" maxlength="50" class="form-control" /><br />
                        <label>Note : An MRN starting with '999' denotes a test patient.</label>
                    </div>                    
                </div>
                <div id="ApptFooter" class="modal-footer">
                    <button type="button" class="btn btn-cancel" onclick="HideAddAppt();">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="ShowAddAppointment('@Url.Action("GetAppoitmentForAdd", "Institution")');">OK</button>
                </div>
            </div>
        </div>
    </div><!--New MRN modal end-->

    <!-- Copy Appt popup -->
    <div id="Copy-Appt" class="modal fade" role="dialog" aria-hidden="true">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Copy Appointment</h4>
                </div>
                <div id="CopyApptBody"></div>
            </div>

            </div>
    </div><!--Copy Appt modal end-->
}

<script type="text/javascript" src="~/Scripts/customJquery/Institution.js"></script>
<script type="text/javascript">

   
   function TestOnSuccess(data) {
              
       if (data.error != '') {
           $('#loading').hide();
           ShowErrorNotification(data.error);
       }
       else {
           $('#loading').hide();
           $('#divInstitutionGrid').html(data.view);
           ShowNotification('Appointment Saved Successfully!');
           $(".editmenu").slideUp(0);
           Applytablesorter();
            $("#add-edit-MRN").modal('hide');
    $("#Copy-Appt").modal('hide');
       }
    }

    //};


    /*====== code moved to Institution.js  Append Pedigree image url dynamically ============ */


    /*======End Append image url dynamically ============ */


    @*//function RiskCalculate(MRN, apptid) {

        RiskCalculation('@Url.Action("RiskCalculation", "Institution")',MRN,apptid);
    //};*@




    //schedule grid more deatils content
    function ConfirmDeletion(url,id)
    {

    }
    function RunDocs(MRN, apptid) {
        //$('.modal-backdrop').remove(); //commented by nilesh
        var globalGetJSONPath = '@Url.Action("RunAutomationDocuments", "Institution")';
        $.ajax({
            beforeSend: function () {
                //$("#line").hide(); //commented by nilesh
                $("#completeMsg").hide();
                $("#loading").hide();
                $(".modal-footer").hide();
                $('#Downloadbtn').prop('disabled', true);
                $('#CloseBtn').prop('disabled', true);
                $("#progressdiv").show();

            },
            type: "POST",
            url: globalGetJSONPath,
            data: { apptid: apptid, MRN: MRN },
            dataType: "json",
            async: true,
            success: function (data) {
                $(".modal-footer").show();
                $("#progressdiv").hide();
                $("#completeMsg").show();
                $('#Downloadbtn').prop('disabled', false);
                $('#CloseBtn').prop('disabled', false);
            }
        }).always(function (Data) {

        });
    };

    function Searchloading() {
        $("#loading").fadeIn();
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);

    }

    function saveClinic() {
     
        var id = $("#ddClinic").val();
        $("#Hfddlclinic").val(id);
        Searchloading();

    };
    $(document).ready(function () {

        Applytablesorter();

        $("#frmDashboard").keypress(function (e) {
            kCode = e.keyCode || e.charCode //for cross browser
            if (kCode == 13) {
                var defaultbtn = $(this).attr("DefaultButton");
                $("#" + defaultbtn).click();
                return false;
            }
        });




        $('#Downloadbtn').click(function () {
            var globalGetJSONPath = '@Url.Action("DownloadFile", "Institution")';
            $.ajax({
                type: "GET",
                url: globalGetJSONPath,
                success: function (data) {
                    $("#loading").hide();
                    $('#browse-xml-modal').modal('hide');

                }
            }).always(function (Data) {

            });

        });

        $('#chkbox').change(function () {
            if ($(this).is(":checked")) {

                $("#appt-date").prop('readonly', false);
                $('#appt-date').prop('disabled', false);


            } else {
                $("#appt-date").prop('readonly', true);
                $('#appt-date').prop('disabled', true);


            }
            SearchAppointment('@Url.Action("FilteredInstitution", "Institution")');

        });

        $("#divSearch").click(function (data) {
            SearchAppointment('@Url.Action("FilteredInstitution", "Institution")');


        });

        $("#ddClinic").change(function (data) {
            SearchAppointment('@Url.Action("FilteredInstitution", "Institution")');
        });


    });

    function Applytablesorter() {
        $("#myTable").tablesorter(
             {
                 headers: {
                     // assign the secound column (we start counting zero)
                     9: {
                         // disable it by setting the property sorter to false
                         sorter: false
                     }

                 }
             }
   );

    }



    //AddRemoveTask and confirmation methode moved to Institution.js






</script>
