@model IEnumerable<HRA4.ViewModels.Appointment>

@{
    ViewBag.Title = "InstitutionDashboard";

}

@if (ViewBag.instListcount == 0 || ViewBag.instListcount == null)
{
    <div class="modal fade" tabindex="-1" role="dialog" id="dashboardmodal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You have not entered any institution data. Please start by<a href="@Url.Action("ManageInstitution", "Admin")"> entering an institution name.</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{
        

    <div class="content-area container-fluid ">
        <div class="container-fluid row Padding-LR-0 bottom-container-area">
            <div class="container middle-content">
            <div class="row">
                    <div class="col-sm-12">
                        <div id="wrapper">
                            <!-- Sidebar -->
                            <div id="sidebar-wrapper">

                                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                                    <li class="active">
                                        <a href="#" class="schedule-icon"> Schedule <span id="ScheduleCount" class="dashboard-count">@ViewBag.AppointmentCount</span></a>
                                        <ul class="nav-pills nav-stacked sidebar-nav-child" style="list-style-type:none;">
                                            <li class="add-appointment"><a href="#"><img src="~/images/add-appointment-ico.svg" alt="Refresh" width="25" height="25" /> Add Appointment</a></li>
                                            <li>
                                                <div class="form-group">
                        <label class="control-label " for="custom-clinic"> Choose Clinic</label>
                            @Html.DropDownList("ddClinic", ViewBag.ClinicList as SelectList, "All Clinics", new { @class = "form-control" })
                    </div>
                                            </li>

                                            <li>
                                                <div class="form-group">
                        <label class="control-label " for="name">Quick Search</label>
                                                    <input class="form-control" id="name" name="name" type="text" placeholder="Name/MRN" />
                    </div>
                                            </li>
                                            <li>
                                                <div class="pull-left"><input type="checkbox" id="chkbox" checked="checked" name="appt-date-checkbox" class="" /></div>
                                                <div id="app-date" class="inner-addon right-addon pull-right form-group">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <input data-format="MM-dd-yyyy" type="text" class="datepicker form-control" id="appt-date" placeholder="Appointment Date" value="@ViewBag.TodaysDate" />
                    </div>
                                            </li>
                                            <li class="pull-right">
                                                <div class="btn-group search-group Margin-B-10">
                        <button class="btn btn-default search-btn" id="btnsearch" type="button">Search</button>
                        <span class="glyphicon glyphicon-search search-btn-ico" aria-hidden="true"></span>
                                                </div> <br />
                                            </li>
                                        </ul><!--sidebar child end here-->
                                    </li>
                                    <li class="clear-float">
                                        <a href="#" class="breast-cancer-icon">Lifetime Breast Cancer <span class="dashboard-count">(0)</span></a> </li>
                                    
                    <li>
                                        <a href="#" class="BRCA-icon">BRCA Mutation <span class="dashboard-count">(0)</span></a>
                    </li>
                </ul>

                            </div><!-- /#sidebar-wrapper -->
                            <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1">
                                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><i class="fa fa-chevron-circle-left fa-lg"></i></button>
                            </div><!--  sidebar toggle div end -->
                            <!-- Page Content -->

                            <div id="page-content-wrapper" class="clear-float">
                                <div class="container-fluid xyz clear-float">
                                    <div class="row">
                                        <h3 class="pull-left page-title">Schedule</h3>
                                        <a class="pull-right left-title" onclick="SearchAppointment()"><img src="~/images/refresh-grid-ico.svg" class="refresh-istitution-list" alt="Refresh" width="22" height="22" />Refresh Appointment List</a>
                                        <div class="clear-float"></div>
                                        <div class="table-responsive" id="divInstitutionGrid">
                                            @Html.Partial("_InstitutionGrid", Model)

                                        </div><!--schedule list div end here-->
                                        <div id="divRecordStatus" style="color:red;text-align:center">@ViewBag.RecordStatus</div>
            </div><!--row end-->
        </div><!--container end-->

                            </div>
                            <!-- /#page-content-wrapper -->
                        </div>
                        </div>
                </div><!--row end-->
            </div><!--container end-->
        </div><!--container fluid end-->
    </div> <!-- /container area end -->
    @*</form>*@

    <!-- Code Start for Model Popup  -->
    <div id="browse-xml-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calculating Risk</h4>
                </div>
                <div class="modal-body align-center">
                    <div id="progressdiv" class="form-group">
                        <label>Calculating Risk Models</label>
                        <br /><br />
                        <img src="~/images/Preloder.GIF" alt="Preloader" />   
                    </div>
                    <div id="completeMsg">Run Automation Documents Process Finished Click on download</div>
                </div>             
                <div id="progressbar" style="display:none"></div>
                <div id="completeMsg" style="display:none;margin-left: 10px;">Run Automation Documents Process Finished Click on download</div>
                <div class="modal-footer">
                    <a href="@Url.Action("DownloadFile", "Institution")" id="Downloadbtn" class="btn btn-default"> Download</a> @*target="_blank"*@
                </div>
            </div>
        </div>
    </div><!--import/export browse xml modal end-->
    @(Html.BeginForm("ImportAsXml", "Institution", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="upload-xml" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="editor-field"> @Html.TextBox("file", "", new { type = "file" }) </div>
                        <div class="editor-field"> <input type="submit" onclick="UploadXml();" value="Upload" /> </div>
                    </div>
                </div>
            </div>
        </div>
    }
   <!-- Code End for Model Popup  -->

    <!-- Pedigree Diagram  Models popup -->
    <div id="pedigree-diagram-modal" class="modal fade" role="dialog" aria-hidden="true" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pedigree Diagram</h4>
                </div>
                <div class="modal-body">
                    For: <b>Patient Name : <span id="spanPatientName"></span>  , MRN : <span id="spanMRN" ></span> </b><br />
                    <div class="view-doc-content Margin-T-10" style="overflow:scroll">
                        <div id="imagediv">

                        </div>
                    </div>
                </div>
            </div> <!--modal body end-->
            <div class="clear-float"><br /></div>
        </div>
    </div>
    <!--Pedigree Diagram modal end-->

}

<script type="text/javascript">

    //};


    /*====== Append image url dynamically ============ */

    function ShowPedigreeImage(unitnum, apptid, PatientName)
    {

        var globalGetJSONPath = '@Url.Action("ShowPedigreeImage", "Institution")';

        $.ajax({
            type: "POST",
            url: globalGetJSONPath,
            data: { unitnum: unitnum, apptid: apptid },
            dataType: "json",
            async: true,
            success: function (Data) {
                
               
                //var ImageUrl = Data.ImageUrl;

                $("#spanPatientName").html(PatientName);
                $("#spanMRN").html(unitnum);
                $("#imagediv").empty();
                var img = $('<img id="imgPedigree">'); //Equivalent: $(document.createElement('img'))
                img.attr('src', Data.ImageUrl);
                img.appendTo('#imagediv');
               
            
               // $('img[id="imgPedigree"]').attr({ src: Data.ImageUrl});
                $('#pedigree-diagram-modal').modal('show');


            }

        })






    }

    /*======End Append image url dynamically ============ */


    function UploadXml() {
         
        var globalGetJSONPath = '@Url.Action("ImportAsXml", "Institution")';
        var formData = new FormData($(this)[0]);
        $.ajax({
            beforeSend: function () {
                //$("#line").hide(); //commented by nilesh
                $("#loading").hide();
                $(".modal-footer").hide();
                $('#Downloadbtn').prop('disabled', true);
                $('#CloseBtn').prop('disabled', true);
                $("#completeMsg").hide();
                $("#progressbar").show();
                //$("#msgbody").html('<div id="progressbar"></div>'); //progrssbar


            },
            type: "POST",
            url: globalGetJSONPath,
            data: formData,
            async: true,
            success: function (data) {
                $(".modal-footer").show();
                $("#progressbar").hide();
                $("#completeMsg").show();
                //$("#progressbar").html('<div id="line">Run Automation Documents Process Finished Click on download</div></br>'); //commented by nilesh
                $('#Downloadbtn').prop('disabled', false);
                $('#CloseBtn').prop('disabled', false);
            }
        }).always(function (Data) {

        });
    }
    //schedule grid more deatils content
    $(document).ready(function () {
        
    });

    function RunDocs(MRN, apptid) {
        //$('.modal-backdrop').remove(); //commented by nilesh 
        var globalGetJSONPath = '@Url.Action("RunAutomationDocuments", "Institution")';
        $.ajax({
            beforeSend: function () {
                //$("#line").hide(); //commented by nilesh 
                $("#completeMsg").hide();
                $("#loading").hide();
                $(".modal-footer").hide();
                $('#Downloadbtn').prop('disabled', true);
                $('#CloseBtn').prop('disabled', true);
                $("#progressdiv").show();
              
               
               
            },
            type: "POST",
            url: globalGetJSONPath,
            data: { apptid: apptid, MRN: MRN },
            dataType: "json",
            async: true,
            success: function (data) {
                $(".modal-footer").show();
                $("#progressdiv").hide();
                $("#completeMsg").show();
                $('#Downloadbtn').prop('disabled', false);
                $('#CloseBtn').prop('disabled', false);
            }
        }).always(function (Data) {

        });
    };


    
    function saveClinic() {
        var id = $("#ddClinic").val();
        console.log(id);
        $("#Hfddlclinic").val(id);
    };
    $(document).ready(function () {

        function Searchloading() {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            alert(target);
            var spinner = new Spinner(opts).spin(target);

        }

        $("#frmDashboard").keypress(function (e) {
            kCode = e.keyCode || e.charCode //for cross browser
            if (kCode == 13) {
                var defaultbtn = $(this).attr("DefaultButton");
            $("#" + defaultbtn).click();
            return false;
        }
        });       




        $('#Downloadbtn').click(function () {
            var globalGetJSONPath = '@Url.Action("DownloadFile", "Institution")';
            $.ajax({
                type: "GET",
                url: globalGetJSONPath,
                success: function (data) {
                    $("#loading").hide();
                    $('#browse-xml-modal').modal('hide');
                  
                }
            }).always(function (Data) {
              
            });

        });

        $('#chkbox').change(function () {
            if ($(this).is(":checked")) {
                
                $("#appt-date").prop('readonly', false);
                $('#appt-date').prop('disabled', false);
                
                
            } else {
                $("#appt-date").prop('readonly', true);
                $('#appt-date').prop('disabled', true);
               
               
            }
            SearchAppointment();

        });

        $("#btnsearch").click(function (data) {
            SearchAppointment();

                      
        });

        $("#ddClinic").change(function (data) {
            SearchAppointment();
        });
          
       
        });



    function SearchAppointment() {

            var name = $('#name').val();
        var appdt = $('#chkbox').is(":checked") ? $('#appt-date').val() : "";
        var clinicId = $('#ddClinic').val().length > 0 ? $('#ddClinic').val() : "-1";
         
        var globalGetJSONPath = '@Url.Action("FilteredInstitution", "Institution")';
        //Loading popup - Mahitosh
        $("#loading").fadeIn();
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('loading');
       // alert(target);
        var spinner = new Spinner(opts).spin(target);
        $(target).data('spinner', spinner);
        // Loading popup - Mahitosh
            $.ajax({
                type: "POST",
            url: globalGetJSONPath,
            data: { name: name, appdt: appdt, clinicId: clinicId },
                dataType: "json",
            async: true,
            success: function (Data) {
                    $('#divRecordStatus').html('');
                    $('#ScheduleCount').html(Data.apps_count);
                    $('#divInstitutionGrid').html(Data.view);
                    
                    $('#loading').data('spinner').stop();
                    $('#loading').hide();
                if (parseInt(Data.apps_count, 0) == 0) {
                        $('#divRecordStatus').html("No records found.");
                    }
                    
                    
                }

            })

        }
   
    

    function AddRemoveTask(isDNC, unitnum, apptid) {

            var name = $('#name').val();
            var appdt = $('#appt-date').val();
        var clinicId = $('#ddClinic').val().length > 0 ? $('#ddClinic').val() : "-1";

        var globalGetJSONPath = '@Url.Action("AddRemoveTask", "Institution")';

            $.ajax({
                type: "POST",
                url: globalGetJSONPath,
            data: { name: name, appdt: appdt, isDNC: isDNC, unitnum: unitnum, apptid: apptid, clinicId: clinicId },
                dataType: "json",
            async: true,
                success: function (Data) {
                $('#divRecordStatus').html('');
                $('#ScheduleCount').html(Data.apps_count);
                    $('#divInstitutionGrid').html(Data.view);
                if (parseInt(Data.apps_count, 0) == 0) {
                    $('#divRecordStatus').html("No records found.");
                }
                }
            })
            return false;
        };

    function confirmation() {
        var c = confirm("Are you sure you want to delete this Appointment?");
        return c;
    };

    

</script>
