@model HRA4.ViewModels.User

@using (Html.BeginForm("SavePassword", "User", FormMethod.Post))
{
<div class="quick-add-inner-div">
    <div class="quick-add-links">
        <h4>Change Password</h4>
    </div>
    <!--quick-add-links end-->
    <div class="clear-float header-bdr">
        <hr />
    </div>
   
    <div class="Margin-T-10">
        <p>@ViewBag.AlertMessage</p>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>New Password</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = Model.Username +"-nPassword" })
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Retype New Password</label>
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", id = Model.Username + "-cPassword" })
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox Margin-T-20 Padding-T-10">
                    <label>
                        <input type="checkbox" value="">Force Password Change
                    </label>
                </div>
            </div>
        </div>
        <!--row end-->
        <button id="btnSavePassword" class="pull-right btn btn-success btn-sm  Margin-L-10" onclick="return Validate('@Model.Username');">Update</button>
        <button id="btnCancelPassword" class="pull-right btn btn-cancel btn-sm" onclick="return CancelProfile('@Model.Username');">Cancel</button>
    </div>
    <!--password content end here-->
    <div class="clear-float" />
</div>
}