@model IEnumerable<HRA4.ViewModels.FamilyHistoryRelative>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_leftMenuLayout.cshtml";
}

  
    <div class="row">
        <h3 class="page-title Margin-B-10 pull-left">Edit Survey - Family History</h3>
        <a class="pull-right left-title"><img src="images/refresh-grid-ico.svg" class="refresh-istitution-list" alt="Refresh" width="22" height="22" />Refresh list</a>
    </div><!--row end-->
    <div class="clear-float row"><hr class="hr-style Margin-0" /></div>
    <div class="row">
        <div class="col-sm-6 Padding-L-0">
            <h4 class="bold-txt"><span id="spanPatientName"></span></h4>
            <span class="bold-txt">Age: <span id="spanAge"></span></span> | <span><b>MRN:</b> <span id="spanMRN"></span></span> | <span><b>DOB:</b><span id="spanDOB"></span> </span>

        </div>
        <div class="col-sm-6 align-right" style="margin-top:19px;">
            <br />
            <span class="Margin-R-10"><b>H:</b> <span id="spanH"></span> </span>
            <span class="Margin-R-10"><b>C:</b> <span id="spanC"></span></span>
            <span class="Margin-R-10"><b>W:</b> <span id="spanW"></span></span>
            <span><b>PCP:</b> <span id="spanPCP"></span></span>
        </div>
    </div><!--row end-->

    <div class="clear-float row"><hr class="hr-style Margin-TB-10" /></div>

    <div class="row Margin-T-10">
        <ul class="nav nav-tabs col-sm-12" id="myTab">
            <li class="active" id="Schedule-Tab">
                <a data-target="#family-history" data-toggle="tab" onclick="showAppt();hideMRI();">Family History</a>
            </li>
            <li>
                <a data-target="#cancer-risk-factor" data-toggle="tab" onclick="hideAppt();hideMRI();">Cancer Risk Factors</a>
            </li>
            <li>
                <a data-target="#MRITest" data-toggle="tab" onclick="hideAppt();showMRI();">MRI Test Details</a>
            </li>
            <div class="clear-float visible-sm"><br /></div>
            <li class="pull-right add-appointment col-md-4 col-sm-9 Padding-LR-0 Margin-T-5">
                <a onclick="AddRelative('@Url.Action("AddRelative", "EditSurvey")');" href="#" class="col-lg-5 col-md-6 col-sm-4 align-right pull-right"><img src="images/add-relative-ico.svg" alt="Add Relative" width="35" height="30" /> Add Relative</a>
                
                @{

                    List<SelectListItem> liRelation = new List<SelectListItem>();
                    liRelation.Add(new SelectListItem { Text = "Daughter", Value = "Daughter" });
                    liRelation.Add(new SelectListItem { Text = "Son", Value = "Son" });
                    liRelation.Add(new SelectListItem { Text = "Brother", Value = "Brother" });
                    liRelation.Add(new SelectListItem { Text = "Sister", Value = "Sister" });
                    liRelation.Add(new SelectListItem { Text = "Aunt - Maternal", Value = "Aunt - Maternal" });
                    liRelation.Add(new SelectListItem { Text = "Aunt - Paternal", Value = "Aunt - Paternal" });
                    liRelation.Add(new SelectListItem { Text = "Uncle - Maternal", Value = "Uncle - Maternal" });
                    liRelation.Add(new SelectListItem { Text = "Uncle - Paternal", Value = "Uncle - Paternal" });
                    liRelation.Add(new SelectListItem { Text = "Cousin", Value = "Cousin" });
                    liRelation.Add(new SelectListItem { Text = "Cousin (Male)", Value = "Cousin (Male)" });
                    liRelation.Add(new SelectListItem { Text = "Cousin (Female)", Value = "Cousin (Female)" });
                    liRelation.Add(new SelectListItem { Text = "Niece", Value = "Niece" });
                    liRelation.Add(new SelectListItem { Text = "Nephew", Value = "Nephew" });
                    liRelation.Add(new SelectListItem { Text = "Other", Value = "Other" });

                }
                @Html.DropDownList("ddlRelation", new SelectList(liRelation, "Value", "Text"),"", new { @class = "form-control col-lg-5 col-md-6 col-sm-6 pull-right", @style="width: auto"  })
                <label class="pull-right col-sm-3 align-right" style="padding-top:3px;">Relation</label>
            </li>
            <li class="pull-right add-MRI Margin-T-5 Padding-R-15">
                <a href="#" class=""><img src="images/add-MRI-ico.svg" alt="Add New MRI" width="35" height="25" /> New MRI</a>
            </li>
        </ul>
    </div><!--tab row end-->

    <div class="tab-content row">
        <div class="tab-pane active" id="family-history">
            <div class="table-responsive">
                <table class="table table-striped apppointment-table">
                    <thead>
                        <tr>
                            <th>Family Member</th>
                            <th>Relative Age</th>
                            <th>Vital Status</th>
                            <th>First Dx</th>
                            <th>Age Onset</th>
                            <th>Second Dx</th>
                            <th>Age Onset</th>
                            <th>Third Dx</th>
                            <th>Age Onset</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyTest" >
                      @Html.Partial("_FamilyHistoryRelativeRow", Model)
                    </tbody>
                </table><!--family history end here-->
            </div>
        </div><!--Family History tab content end here-->
        <div class="tab-pane" id="cancer-risk-factor">
            <div class="col-sm-12 Padding-TB-10">
                <!-- Repo Tabs --->
                <ul class="nav nav-tabs" id="CancerRiskChild">
                    <li class="active"><a href="#BreastCancerRisk" data-toggle="tab">Cancer Risk Factors - Breast</a></li>
                    <li><a href="#ColorectalCancerRisk" data-toggle="tab">Cancer Risk Factors - Colorectal</a></li>
                </ul>

                <!-- Repo Tabs -->

                <div class="tab-content">
                    <div class="tab-pane active" id="BreastCancerRisk">
                        <!--accordion start-->
                        <div class="panel-group BreastCancerAccordion" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading  activeAccordion">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                            Physical Data
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-2 col-sm-3">
                                            <div class="form-group">
                                                <label>Weight</label>
                                                <input class="form-control input-small" />
                                                <label>lbs</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-5">
                                            <div class="form-group">
                                                <label>Height</label>
                                                <input class="form-control input-small" />
                                                <label>'</label>
                                                <input class="form-control input-small" />
                                                <label>"</label>
                                            </div>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Social History
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-sm-4">
                                            <label>Smoking</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-sm-4">
                                            <label>Alcohol</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Ethnicity/Origin
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <label>Ashkenazi Jewish</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <label>Hispanic </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>

                                        </div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-4 col-md-5 col-sm-9">
                                            <label>Race  </label>
                                            <select multiple="multiple" class="form-control" id="race-multiselect">
                                                <option>Asian</option>
                                                <option>African American/Black</option>
                                                <option>List Item3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Patient Reported Procedure Hx
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-5 col-md-6 col-sm-7">
                                            <label>Chest Wall Radiation < 30 yrs</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-sm-4">
                                            <label>Number of Biopsies </label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float"><br /></div>
                                        <div class="ccol-lg-5 col-md-6 col-sm-8">
                                            <label>Biopsy W/ Atypical Hyperplasia</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <label>Biopsy W/ LCIS</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Patient Reported Genetic Testing
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-5 col-md-6 col-sm-8">
                                            <label>Has Had Cancer Genetic Testing</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-md-6 col-sm-10">
                                            <label>Result</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Childbirth History
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-2 col-sm-4">
                                            <label># of Pregnancies</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Currently Pregnant </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-2 col-sm-3">
                                            <label># of Children</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Currently Nursing</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-2 col-sm-4">
                                            <label>Age at First Birth</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-lg"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Done Child Bearing</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Birth Control
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Birth Control Use</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-sm-3">
                                            <label># years taken</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="col-lg-2 col-sm-3">
                                            <label>Age Started</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <label>Continuously</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Menstrual History
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-4 col-sm-4">
                                            <label>Age At First Period</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="col-lg-3 col-sm-5">
                                            <label>Age Periods Stopped</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Still Having  Periods</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <label>LMP</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-lg"><br /></div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Confident</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-3 col-md-3 col-sm-4">
                                            <label>Hysterectomy</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <label>Age</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="clear-float visible-lg"><br /></div>
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <label>Both Ovaries Removed</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-3">
                                            <label>Age</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Menopausal Status</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Hormonal Replacement Therapy
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-md-4 col-sm-5">
                                            <label>Used Hormones</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-sm-3">
                                            <label>Combined</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-sm-3">
                                            <label># years taken</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            <label>Intended Duration</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-lg"><br /></div>
                                        <div class="col-lg-3 col-md-3 col-sm-4">
                                            <label>Years since Taken</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Chemoprevention
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTen" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-sm-3">
                                            <label>Tamoxifen</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Raloxifene</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                        </div><!--accordion end-->
                        <div class="col-sm-12 pull-right">
                            <button class="pull-right btn btn-success btn-sm  Margin-L-10">Save Risk Factors</button>
                            <button class="pull-right btn btn-cancel btn-sm">Reset </button>
                        </div> <!--buttons div end-->
                    </div><!--Breast Cancer Risk tab end here-->
                    <div class="tab-pane" id="ColorectalCancerRisk">
                        <!--Colorecta accordion start here-->
                        <div class="panel-group ColorectalCancerRiskAccordion" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading  activeAccordion">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseOne">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                            Physical Data
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-2 col-sm-3">
                                            <div class="form-group">
                                                <label>Weight</label>
                                                <input class="form-control input-small" />
                                                <label>lbs</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-5">
                                            <div class="form-group">
                                                <label>Height</label>
                                                <input class="form-control input-small" />
                                                <label>'</label>
                                                <input class="form-control input-small" />
                                                <label>"</label>
                                            </div>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseTwo">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Ethnicity/Origin
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <label>Ashkenazi Jewish</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <label>Hispanic </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>

                                        </div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-4 col-md-5 col-sm-9">
                                            <label>Race  </label>
                                            <select multiple="multiple" class="form-control" id="colo-race-multiselect">
                                                <option>Asian</option>
                                                <option>African American/Black</option>
                                                <option>List Item3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseThree">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Lifestyle
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseThree" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <label>Num years smoked cigarettes?</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <label>Num cigarettes smoked per day? </label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                        <div class="clear-float visible-md"><br /></div>
                                        <div class="clear-float visible-sm"><br /></div>
                                        <div class="col-lg-4 col-md-5 col-sm-4">
                                            <label>Vegetables </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="clear-float visible-lg"><br /></div>
                                        <div class="col-md-6 col-sm-8">
                                            <label>Hours of vigorous exercise per week </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseFour">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Menstrual History
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseFour" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            <label>Still Having  Periods</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-5">
                                            <label>Age Periods Stopped</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>

                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseFive">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Hormonal Replacement Therapy
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseFive" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-sm-4">
                                            <label>Used Hormones</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <label>Years since Taken</label>
                                            <input type="text" class="form-control input-small" />
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseSix">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Medications
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseSix" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <label>Regular Aspirins User</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <label>Regular Ibuprofen User</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#ColorectCollapseSeven">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Patient Reported Genetic Testing
                                        </a>
                                    </h4>
                                </div>
                                <div id="ColorectCollapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body form-inline">
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <label>Has Had  Cancer Genetic Testing</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-5 col-sm-6">
                                            <label>Colon or Rectal Polyp </label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div><!--panel body end-->
                                </div>
                            </div><!--panel end-->
                        </div><!--accordion end-->
                        <div class="col-sm-12 pull-right">
                            <button class="pull-right btn btn-success btn-sm  Margin-L-10">Save Risk Factors</button>
                            <button class="pull-right btn btn-cancel btn-sm">Reset </button>
                        </div> <!--buttons div end-->
                    </div>
                </div><!--Cancer risk tab child panel end here-->
            </div> <!--col sm 12 end-->
            <div class="clear-float"></div>
        </div><!--Cancer risk factor tab content end-->
        <div class="tab-pane" id="MRITest">
            <div class="table-responsive">
                <table class="table table-striped apppointment-table">
                    <thead>
                        <tr>
                            <th width="15%">Type </th>
                            <th width="15%">Date</th>
                            <th width="20%">Value</th>
                            <th width="35%">Result</th>
                            <th width="15%" class="align-center">Quick&nbsp;Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="highlight-row">
                            <td>MRI</td>
                            <td>05-01-2015</td>
                            <td>4 BIRADS Open biopsy</td>
                            <td>Abnormal</td>
                            <td class="align-center">
                                <a href="javascript:void(0)" id="edit-MRN"><img src="images/edit-grid-ico.svg" alt="Refresh" width="29" height="29" data-toggle="tooltip" data-placement="top" title="Edit" /></a><a href="#"><img src="images/delete-ico.svg" alt="Delete" width="28" height="28" data-toggle="tooltip" data-placement="top" title="Delete" /></a>
                            </td>
                        </tr>
                        <!--edit div start here-->
                        <tr id="quick_add_MRNdiv">
                            <td colspan="10">
                                <div class="quick-add-inner-div">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <div id="MRIDate" class="inner-addon right-addon form-group">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    <input data-format="MM-dd-yyyy" type="text" class="datepicker form-control" id="MRI_date" /></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Result</label>
                                                <select class="form-control">
                                                    <option>Result1</option>
                                                    <option>Result2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control">
                                                    <option>Status1</option>
                                                    <option>Status2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Side</label>
                                                <select class="form-control">
                                                    <option>Side1</option>
                                                    <option>Side2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!--row end-->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Left BIRADS</label>
                                                <select class="form-control">
                                                    <option>Left BIRADS1</option>
                                                    <option>Left BIRADS2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Right BIRADS</label>
                                                <select class="form-control">
                                                    <option>Right BIRADS1</option>
                                                    <option>Right BIRADS2</option>
                                                    <option>Right BIRADS3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Report Text</label>
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pull-right">
                                            <button class="pull-right btn btn-success btn-sm Margin-L-10 close_toggleDiv">Save</button>
                                            <button class="pull-right btn btn-cancel btn-sm close_toggleDiv">Cancel</button>
                                        </div>
                                    </div><!--row end-->
                                </div><!--end quick-add-MRNinner-div-->
                            </td>
                        </tr><!--quick_add_MRNdiv col end-->
                        <tr>
                            <td>MRI</td>
                            <td>09-09-2015</td>
                            <td>4 BIRADS Open biopsy</td>
                            <td>Normal</td>
                            <td class="align-center">
                                <a href="#"><img src="images/edit-grid-ico.svg" alt="Refresh" width="29" height="29" data-toggle="tooltip" data-placement="top" title="Edit" /></a><a href="#"><img src="images/delete-ico.svg" alt="Delete" width="28" height="28" data-toggle="tooltip" data-placement="top" title="Delete" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table><!--MRI test table end here-->
            </div><!--MRI test div end here-->
        </div><!--MRI Test tab content end here-->
    </div><!--row end-->
     <!-- edit family-history Models popup -->
<div id="edit-family-history" role="dialog" aria-hidden="true" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="margin-top:100px;width:700px;">
        @using (Ajax.BeginForm("SaveSurvey", "Institution", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "AssignValues",
        OnSuccess = "AppendRow",
    }, new { id = "frmSaveSurvey" }))
        {
            //InsertionMode = InsertionMode.InsertBefore,
            
            @*<input type="hidden" id="hdddlRelation" name="hdddlRelation" value="aaaa" />
            <input type="hidden" id="hdddlVital"  name="hdddlVital" />
            <input type="hidden" id="hdddlFirstDx"  name="hdddlFirstDx" />
            <input type="hidden" id="hdddlSecondDx"  name="hdddlSecondDx" />
            <input type="hidden" id="hdddlThirdDx"  name="hdddlThirdDx" />*@
            
            <input type="hidden" value="@ViewBag.unitnum" id="hdunitnum"  name="hdunitnum" />
            <input type="hidden" value="@ViewBag.apptid" id="hdapptid"  name="hdapptid" />
            <input type="hidden" id="hdRelativeId" name="hdRelativeId" />
            <input type="hidden" id="hdType" name="hdType" />


        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Family History</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Vital Status</label>
                                <div class="col-xs-7">
                                    @{

                                        List<SelectListItem> liVital = new List<SelectListItem>();
                                        liVital.Add(new SelectListItem { Text = "Alive", Value = "Alive" });
                                        liVital.Add(new SelectListItem { Text = "Dead", Value = "Dead" });

                                    }
                                    @Html.DropDownList("ddlVital", new SelectList(liVital, "Value", "Text"),"", new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Relative Age</label>
                                <div class="col-xs-7"><input type="number" class="form-control" id="txtRelativeAge" name="txtRelativeAge"  /></div>
                            </div>
                        </div>
                      
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">First Dx</label>
                                <div class="col-xs-7">
                                    @{

            List<SelectListItem> liFirstDx = new List<SelectListItem>();
            liFirstDx.Add(new SelectListItem { Text = "Brain Cancer", Value = "Brain Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Breast Cancer", Value = "Breast Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Cervical Cancer", Value = "Cervical Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Colon or Rectal Cancer", Value = "Colon or Rectal Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Hodgkins Lymphoma", Value = "Hodgkins Lymphoma" });
            liFirstDx.Add(new SelectListItem { Text = "Kidney or Bladder Cancer", Value = "Kidney or Bladder Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Leukemia", Value = "Leukemia" });
            liFirstDx.Add(new SelectListItem { Text = "Liver Cancer", Value = "Liver Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Lung Cancer", Value = "Lung Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Lymphoma (Non-Hodgkins)", Value = "Lymphoma (Non-Hodgkins)" });
            liFirstDx.Add(new SelectListItem { Text = "Melanoma", Value = "Melanoma" });
            liFirstDx.Add(new SelectListItem { Text = "Other", Value = "Other" });
            liFirstDx.Add(new SelectListItem { Text = "Ovarian Cancer", Value = "Ovarian Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Pancreatic Cancer", Value = "Pancreatic Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Prostate Cancer", Value = "Prostate Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Sarcoma", Value = "Sarcoma" });
            liFirstDx.Add(new SelectListItem { Text = "Stomach Cancer", Value = "Stomach Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Thyroid Cancer", Value = "Thyroid Cancer" });
            liFirstDx.Add(new SelectListItem { Text = "Uterine Cancer", Value = "Uterine Cancer" });

                                    }
                                    @Html.DropDownList("ddlFirstDx", new SelectList(liFirstDx, "Value", "Text"), "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Age Onset</label>
                                <div class="col-xs-7"><input type="number" class="form-control" id="txtFirstAgeOnset" name="txtFirstAgeOnset" /></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Second Dx</label>
                                <div class="col-xs-7">
                                    @Html.DropDownList("ddlSecondDx", new SelectList(liFirstDx, "Value", "Text"), "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Age Onset</label>
                                <div class="col-xs-7"><input type="number" class="form-control" id="txtSecondAgeOnset" name="txtSecondAgeOnset" /></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Third Dx</label>
                                <div class="col-xs-7">
                                    @Html.DropDownList("ddlThirdDx", new SelectList(liFirstDx, "Value", "Text"), "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Age Onset</label>
                                <div class="col-xs-7"><input type="number" class="form-control" name="txtThirdAgeOnset" id="txtThirdAgeOnset" /> </div>
                            </div>
                        </div>
                    
                    </div><!--row end-->

                </div> <!--modal body end-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success"  >Save</button> @*onclick="AppendRow('@Url.Action("SaveSurvey", "EditSurvey")');"*@
                </div>
            </div>
        }
    </div>
</div><!--edit family-history end-->

<!-- confirmation run risk -->
<div id="confirm-runrisk" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Run Risk and Generate Documents</h4>
            </div>
            <div class="modal-body">
                <div class="editor-field">
                    <b style="color:red; font-size:16px;"><i class="fa fa-exclamation-circle fa-lg"></i></b> <strong>Do you want to calculate risk and generate doucments?</strong><br /><br />
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success confirmyes pull-right" type="button" onclick="location.href='@Url.Action("RunRiskModule", "EditSurvey", new { type = 1, unitnum = @ViewBag.unitnum, apptid = @ViewBag.apptid })',closePopup();"  value="Yes" />
                    <input class="btn btn-cancel pull-right Margin-R-10" type="button" onclick="location.href='@Url.Action("RunRiskModule", "EditSurvey", new { type = 0, unitnum = @ViewBag.unitnum, apptid = @ViewBag.apptid })',closePopup();" value="Cancel" />

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation-->

<!-- confirmation Delete -->
<div id="confirm-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="CloseBtn" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Confirmation </h4>
            </div>
            <div class="modal-body">
                <div class="editor-field">
                    <b style="color:red; font-size:16px;"><i class="fa fa-exclamation-circle fa-lg"></i></b> <strong>Are you sure you want to delete?</strong><br /><br />
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success confirmyes pull-right" type="button" onclick="DeleteRelative('@Url.Action("DeleteRelative", "EditSurvey")')" value="Yes" />
                    <input class="btn btn-cancel pull-right Margin-R-10" type="button" data-dismiss="modal" onclick="" value="Cancel" />

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation-->



<script type="text/javascript" >
    $(document).ready(function () {

        var unitnum =  $('#hdunitnum').val()
        var apptid = $('#hdapptid').val()
        GetPatientDetails('@Url.Action("GetPatientDetails", "EditSurvey")',unitnum,apptid)
        /*
        alert($('#hdunitnum').val());
        alert($('#hdapptid').val());
        */
    }
   );


    function AssignValues()
    {
        /*
        //$("#hdddlRelation").val($("#ddlRelation option:selected").text());
        $("#hdddlRelation").val("self");
        $("#hdddlVital").val($("#ddlVital option:selected").text());
        $("#hdddlFirstDx").val($("#ddlFirstDx option:selected").text());
        $("#hdddlSecondDx").val($("#ddlSecondDx option:selected").text());
        $("#hdddlThirdDx").val($("#ddlThirdDx option:selected").text());
        alert($("#hdddlVital").val());
        alert($("#hdddlRelation").val());
       */

    }

    $('#lnkDelete').click(function (e) {
        alert("lnkDelete");
        $(this).closest('tr').remove()
    })
    /*
    function testDelete() {
        alert("testDelete");
        $(this).closest('tr').remove()
    }
  */

    function GetPatientDetails(url, unitnum, apptid)
    {

        $.ajax({
            type: "POST",
            url: url,
            data: {
                unitnum: unitnum,
                apptid: apptid
            },
            dataType: 'json',
            success: function (Data) {
               
                $("#spanPatientName").html(Data.obj.name);
                $("#spanMRN").html(Data.obj.unitnum);
                $("#spanAge").html(Data.obj.age);
                $("#spanH").html(Data.obj.homephone);
                $("#spanC").html(Data.obj.cellphone);
                $("#spanW").html(Data.obj.workphone);
                $("#spanDOB").html(Data.obj.dob);
                $("#spanPCP").html('');
               

            }
        });


    }


    $("#liInstitution").click(function () {
      
        $('#confirm-runrisk').modal('show');
        return false;


    });


    function ShowDeleteModel(RelativeId)
    {
        $("#hdRelativeId").val(RelativeId);
        $('#confirm-delete').modal('show');


    }



    function DeleteRelative(url) {

        $('#confirm-delete').modal('hide');
        var RelativeId = $("#hdRelativeId").val();
        var unitnum = $('#hdunitnum').val()
        var apptid = $('#hdapptid').val()

        
        $.ajax({
            type: "POST",
            url: url,
            data: {
                unitnum: unitnum,
                apptid: apptid,
                RelativeId: RelativeId
            },
            dataType: 'json',
            success: function (Data) {

                
                $("#tbodyTest").html(Data.view);
                ShowNotification('Relative details deleted successfully');

            }
        });


    } 

    function AddRelative(url) {

        var unitnum = $('#hdunitnum').val()
        var apptid = $('#hdapptid').val()
        var Relationship = $("#ddlRelation").val();

        if (Relationship.length > 0) {

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    unitnum: unitnum,
                    apptid: apptid,
                    Relationship: Relationship

                },
                dataType: 'json',
                success: function (Data) {


                    $("#tbodyTest").html(Data.view);
                    ShowNotification('Relative details added successfully');

                }
            });

        }
    }

    function closePopup()
    {
        $('#confirm-runrisk').modal('hide');
        

    }


    function AppendRow(Data) {

        $("#tbodyTest").html(Data.view);
        $('#edit-family-history').modal('hide');
        ShowNotification('Relative details updated successfully');
        
    }

    function AppendRow1( url )
    {
        debugger;

        $.ajax({
            type: "POST",
            url: url,
            dataType: 'html',
            success: function (Data) {
                
                $('#tbodyTest').append(Data);


            }
        });
        alert("AppendRow");
    }
    function ShowModel(type, Relationship, RelativeAge, VitalStatus, FirstDx, FirstAgeOnset, SecondDx, SecondAgeOnset, ThirdDx, ThirdAgeOnset, RelativeId)
    {
        $("#hdType").val(type);

        if (type == 1) {
            $("#txtRelativeAge").val(RelativeAge);
            $("#txtFirstAgeOnset").val(FirstAgeOnset);
            $("#txtSecondAgeOnset").val(SecondAgeOnset);
            $("#txtThirdAgeOnset").val(ThirdAgeOnset);
            $("#hdRelativeId").val(RelativeId);


            // $("#ddlRelation option:contains(" + Relationship + ")").attr('selected', 'selected');
            if (VitalStatus.length > 0)
            {
                $("#ddlVital option:contains(" + VitalStatus + ")").attr('selected', 'selected');
            }
            if (FirstDx.length > 0)
            {
                $("#ddlFirstDx option:contains(" + FirstDx + ")").attr('selected', 'selected');
            }
            if(SecondDx.length > 0)
            {
                $("#ddlSecondDx option:contains(" + SecondDx + ")").attr('selected', 'selected');
            }
            if (ThirdDx.length > 0) {
                $("#ddlThirdDx option:contains(" + ThirdDx + ")").attr('selected', 'selected');
            }



          

        }
        else
        {
            $("#hdRelativeId").val(0);

        }

        
        
        $('#edit-family-history').modal('show');
    }

</script>
  
