@model HRA4.ViewModels.AuditReports
@{
    ViewBag.Title = "AuditReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_leftMenuLayout.cshtml";
}


                                <div class="row">
                                    <h3 class="page-title Margin-B-10">Audit Trail Report</h3>
                                </div>
                                <div class="clear-float row"><hr class="hr-style Margin-TB-10" /></div>
                                <div class="row">
@using (Html.BeginForm("GetReports", "Reports", FormMethod.Post))
{
                                    <div class="col-sm-6">
                                        Medical Record Number

                                        <input type="text" name="txtMRNForReport" id="txtMRNForReport" value="@ViewBag.PostedMRN" />

                                        <button type="submit" class="btn btn-success">Run Report</button>
                              
                                    </div>
}

                                </div><!--row end-->

                                <div class="clear-float row"><hr class="hr-style Margin-TB-10" /></div>





                                <div class="row Margin-T-10">
                                    <ul class="nav nav-tabs col-sm-12" id="myTab">
                                        <li class="active" id="Schedule-Tab">
                                            <a data-target="#v3-report" data-toggle="tab" onclick="showAppt()">Audit V3 Access</a>
                                        </li>
                                        <li>
                                            <a data-target="#v2-report" data-toggle="tab" onclick="hideAppt()">Audit V2 Access</a>
                                        </li>
                                    </ul>
                                </div><!--tab row end-->



                                <div class="tab-content row">
                                    <div class="tab-pane active" id="v3-report">
                                        <div class="table-responsive">
                                            <table class="table table-striped apppointment-table">
                                                <thead>
                                                    <tr>
                                                        <th>Time Stamp</th>
                                                        <th>User Name</th>
                                                        <th>Unit Number</th>
                                                        <th>Appt ID</th>
                                                        <th>Stored Procedure</th>
                                                        <th>Attribute Value List</th>
                                                        <th>Relative ID</th>
                                                        <th>Entity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in @Model.RSAuditMrnAccessV3Entry)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.timestamp)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.userName)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.MRN)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.apptID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.storedProcedure)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.hraAttributeValueList)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.relativeID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.hraObject)</td>
                                                        </tr>

                                                    }

                                                </tbody>
                                            </table><!--V3 Table  end here-->
                                            <div id="divRecordStatusv3" style="color:red;text-align:center">@ViewBag.RecordStatusV3</div>
                                        </div>

                                    </div>




                                    <div class="tab-pane" id="v2-report">
                                        <div class="table-responsive">
                                            <table class="table table-striped apppointment-table">
                                                <thead>
                                                    <tr>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Created By</th>
                                                        <th>Machine Name</th>
                                                        <th>MRN</th>
                                                        <th>Appt ID</th>
                                                        <th>Message</th>
                                                        <th>Application</th>
                                                        <th>Table</th>
                                                        <th>Field</th>
                                                        <th>Field Meaning</th>
                                                        <th>Old Value</th>
                                                        <th>New Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in @Model.RSAuditMrnAccessV2Entry)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.startTime)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.endTime)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.createdBy)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.machineName)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.MRN)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.apptid)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.message)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.application)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.table)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.field)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.fieldMeaning)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.oldValue)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.newValue)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table><!--family history end here-->
                                            <div id="divRecordStatusv2" style="color:red;text-align:center">@ViewBag.RecordStatusV2</div>
                                        </div>




                                    </div><!--row end-->
                                 
                                </div><!--container end-->
                                
                          
    <div id="divgrid"></div>

<script type="text/javascript">

    window.onbeforeunload = function (event) {
        $("#divgrid").fadeIn();
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('divgrid');
        var spinner = new Spinner(opts).spin(target);
    };
</script>
