<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>HRA - Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
     
    <script src="~/Scripts/dev-custom.js"></script>
  
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap/v3.3.6/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/sidebar.css" rel="stylesheet"> 
    <link href="~/css/devcustom.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/SudoNotify/jquery.sudo-notify.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/assets/js/ie-emulation-modes-warning.js"></script>
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">    
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/SudoNotify/jquery.sudo-notify.js"></script>
    <script src="~/Scripts/__jquery.tablesorter/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
</head>
<body>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid top-header-bg">            
            <div class="top-navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="logo-dark-blue">Hughes</span> <span class="logo-light-blue">RiskApps</span> <br />
                        <span class="logo-slogan">The Global Leader in Cancer Risk Assessment Software</span>
                    </a>
                </div>
                <div id="navbar" class="navbar pull-right">
                    <ul class="nav navbar-nav navbar-right" style="background:#80c31f;color:#fff;">
                        <li class="nav-admintool">
                            @Html.Partial("_menuLayout")
                           @*<div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="left" title="Admin Tool" id="admin-dropdown" aria-haspopup="true" aria-expanded="true"></a>
                                <ul class="dropdown-menu admin-tool-menu" aria-labelledby="admin-dropdown">
                                    <li><a href="#"><i class="fa fa-user"></i> Manage Users</a></li>
                                    <li><a href="@Url.Action("ManageInstitution", "Admin")"><i class="fa fa-university"></i> Manage Institutions</a></li>
                                    <li><a href="#"><i class="fa fa-user-md"></i> Manage Providers</a></li>
                                  
                                    <li><a href="@Url.Action("Index", "DocumentEditor")"><i class="fa fa-file-o"></i> Manage Document</a></li>
                                    <li><a href="@Url.Action("AuditReports", "Reports")"><i class="fa fa-file-text-o"></i> Audit Reports</a></li>
                                    <li><a href="@Url.Action("TestPatients", "TestPatient")"><i class="fa fa-file-text-o"></i>Test Patients</a></li>
                                </ul>
                            </div>*@
                        </li>
                        <li class="nav-profile">
                            @{
                                string username = string.Empty;
                                string tenantName = string.Empty;
                                
                                if (Session != null && Session["Username"] != null)
                                {
                                    username =  Session["Username"].ToString();
                                }
                                if (Session != null && Session["InstitutionName"] != null)
                                {
                                    tenantName = Session["InstitutionName"].ToString();
                                }
                            }
                            <div class="pull-left Padding-T-5 user-name"><small>Welcome</small><br />@username </div>
                        </li>
                        <li class="nav-logout">
                        <a href="@Url.Action("LogOut", "Institution")">Logout <img src="~/images/logout-ico.svg" width="25" height="25" alt="logout" /></a></li>
                        <li class="nav-logout Margin-L-0 nav-help">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle Padding-LR-10 help-dropdown" data-toggle="dropdown" 
                                   data-placement="left" title="Help" id="admin-dropdown" aria-haspopup="true" aria-expanded="true">
                                <img src="~/images/help-ico.svg" width="23" height="22" alt="logout" /></a>
                                <ul class="dropdown-menu help-menu col-md-2 pull-right" aria-labelledby="help-dropdown">
                                    <li><a href="#"><i class="fa fa-building"></i> About Us</a></li>
                                    <li><a href="http://www.hughesriskapps.net/contactus.php" target="_blank"><i class="fa fa-map-marker"></i> Contact Us</a></li>
                                </ul>
                            </div>

                        </li>
                        <li class="tenant-name">@tenantName</li>
                    </ul>
                </div><!--/nav-collapse -->
            </div> <!--/top navbar end -->

        </div>
      
    </nav><!--fixed header end here-->
    <!--container area start here-->
    
    
    
   
        @RenderBody()
       
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Please wait, do not refresh the page.
            </p>
        </div>
    </div>
   
    <footer>
        <div class="notification-container"></div>
        <div class="footer-style pull-left"></div>
        <div class="container">Copyrights &copy; 2016 <img src="~/images/footer-logo.svg" width="130" height="50" alt="HRA" />. All rights reserved. </div>
    </footer>
    
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    @*<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>*@
    <script src="~/Scripts/bootstrap/v3.3.6/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-timepicker.js"></script>
    @*<script type="text/javascript" src="~/Scripts/custom-script.js"></script>*@
    <!--Commented the above script file as it is behaving improperly-->
    <script src="~/Scripts/sidebar_menu.js"></script>
    <script src="~/Scripts/dev-custom.js"></script>
    @*<script src="~/Scripts/__jquery.tablesorter/jquery-latest.js"></script>*@
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/assets/js/ie10-viewport-bug-workaround.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="~/Scripts/spin.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
           
            function loading() {
                $("#loading").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loading');
                var spinner = new Spinner(opts).spin(target);               
                $(target).data('spinner', spinner);
            }
            
            window.onbeforeunload = function (event) {
               
                loading();
            };
            
            $(document).ajaxStart(function () {                
               // loading(); 
            });

            $(document).ajaxComplete(function () {
                //$('#loading').data('spinner').stop();
                //$('#loading').hide();
                // $("#loading").hide();   

               // var target = document.getElementById('loading');
               // var spinner = new Spinner(opts).stop();

            });
        });
    </script>
</body>
</html>