@model IEnumerable<HRA4.Entities.Institution>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Configuration)
        </td>
        <td>
            @Html.ActionLink("Select", "InstitutionDashboard", new { id=item.Id })           
        </td>
    </tr>
}

    <div>
        @Html.ActionLink("Add Institution", "AddInstitution")
    </div>

</table>
