@model IEnumerable<HRA4.ViewModels.HighRisk>
    <table class="table table-striped apppointment-table" id="tblHighRisk" >
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%">MRN</th>
                <th width="20%">Lifetime Breast Risk</th>
                <th width="20%">Last Assessment</th>
                <th width="15%">Last MRI</th>
                <th width="15%">Diseases</th>
                <th width="15%">DOB</th>
                <th width="5%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.patientName</td>
                    <td>@item.unitnum</td>
                    <td>@item.MaxLifetimeScore.ToString("00.0")</td>
                    <td>@item.LastCompApptDate</td>
                    <td>@item.LastMRI</td>
                    <td>@item.Diseases</td>
                    <td>@item.dob</td>
                    <td align="center"><a href="#" data-toggle="modal" onclick="GetPatientDetails('@item.unitnum.ToString()','@Url.Action("GetPatientDetails", "HighRiskFollowup")');"><img src="images/pedigree-ico.svg" alt="Refresh" width="25" height="25" data-toggle="tooltip" data-placement="top" title="Pedigree" /></a></td>
                </tr>

            }


        </tbody>
    </table><!--lifetime cancer table end here-->
    @*data-target="#LifetimeCancer-pedigree-diagram-modal"*@
<script type="text/javascript" >

    $(document).ready(function () {
        $("#hTitle").html('Patients at an Elevated Lifetime Risk of Breast Cancer');
        Applytablesorter('#tblHighRisk',7);
        RemoveCss('#liBRCA')
        AddCss('#liLBC');
    }
   );


</script>
