
@*@model HRA4.Web.Models.TinyMCEModelJQuery*@
@model HRA4.ViewModels.TemplateList
@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_leftMenuLayout.cshtml";

}
    
<div class="row">
    <h3 class="page-title Margin-B-10">Document Template List</h3>
    <div class="clear-float"></div>
    <div class="col-sm-3 modal-sidebar">
        <h5 style="background-color:#d6efff;">Template List - <small><b>Select a template to edit it.</b></small></h5>
        <ul>


            @foreach (var item in Model.SuggestedDocument)
            {

                <li><a href='@Url.Action("SelectTemplate", "DocumentEditor", new { @Id = item.Id, @TemplateName=item.TemplateName })'>@item.TemplateName</a></li>

            }
            @foreach (var item in Model.OtherDocuments)
            {

                <li><a href='@Url.Action("SelectTemplate", "DocumentEditor", new { @Id = item.Id, @TemplateName=item.TemplateName })'>@item.TemplateName</a></li>

            }



        </ul>
    </div>
    <div class="col-sm-9 Padding-R-0" id="textEditor">
        <h4 class="Margin-T-0">Editing Template : @Html.DisplayFor(model => model.TemplateName) </h4>
        @using (Html.BeginForm("SaveTemplate", "DocumentEditor"))
        {
             <span style="text-align:left;color:green">@ViewBag.Message</span>
            @Html.HiddenFor(m => m.TemplateName)
            @Html.HiddenFor(m => m.Id)
            <div >@Html.EditorFor(model => model.Content) </div> @*class="view-doc-content"*@
           
            <span style="text-align:left;color:red">@Html.ValidationMessage("Content")</span>
            <div class="pull-right">
                <br />

                <button type="button" id="btnCancel"  class="btn btn-cancel" data-dismiss="modal" onclick="location.href='@Url.Action("Cancel")'">Cancel</button>
                <button type="submit" id="btnSave" class="btn btn-success">Save Changes</button>

            </div>
        }
    </div>
    </div>
<script type="text/javascript" >
    $(document).ready(
        function ()
        {
           
            
            if ($("#TemplateName").val().length == 0 )
            {
                $("#btnCancel").attr("disabled", "disabled"); 
                $("#btnSave").attr("disabled", "disabled");
                $('input[type="text"], textarea').attr('readonly', 'readonly');
                //$("#textEditor").attr("disabled", "disabled");
                //$("#textEditor").children().attr("disabled", "disabled");
              //  $("#tinymce").setAttribute('contenteditable', false);
               //$("#tinymce").attr("contenteditable", false);
            }
        }

        );

</script>
 
