@model HRA4.ViewModels.User

@{
    ViewBag.Title = "Index";
   
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>HRA - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap/v3.3.6/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    @using (Html.BeginForm("Index", "Admin",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="left-corner-wrapper">
            <div class="login-left-corner-div"></div>
            <div class="login-left-corner"></div>
        </div><!--left corner design end here-->
    <div class="container">
        <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info login-wrapper" id="loginform">
                <div class="panel-heading">
                    <div class="panel-title"><img src="~/images/login-hra-logo.svg" width="350" height="50" alt="HRA" /></div>
                </div>
                <div style="padding-top:40px" class="panel-body">
                    @if (ViewData["Message"] != null)
                    {
                        <div id="login-alert" class="alert alert-danger col-sm-12">@ViewData["Message"]</div>
                    }
                    
                    @if(ViewBag.msg!=null)
                    { 
                        <div id="login-alert" class="alert alert-danger col-sm-12">@Html.ValidationSummary(true)</div>
                    }
                                                         
                    <p>
                        Hughes riskApps™ specifically disclaims any warranties, merchantability and fitness for a particular purpose regarding this product or any such service or item. hughes riskApps™ makes no warranty that the information contained in this product is complete
                        or accurate. hughes riskApps™ does not assume and hereby disclaims any liability to any person or entity for any loss or damages (including, without limitation, special, indirect, incidental or consequential damages) caused by errors omissions in the infor-mation contained in the product, your installation and/or use of the product and/or any service or item provided to you as a result of your use of this product, regardless of whether resulting from negligence, accident of any other cause whatsoever.<br /><img src="~/images/login-page-logo.png" alt="HL7" class="pull-right" /><br /><br />
                    </p> <br />
                    <div style="margin-bottom: 25px" class="input-group clear-float">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @*<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Enter username">*@
                        @Html.TextBoxFor(m => m.Username, new { @id = "login-username", @class = "form-control", @placeholder = "Enter username" })
                        @Html.ValidationMessageFor(m => m.Username)

                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @*<input id="login-password" type="password" class="form-control" name="password" placeholder="Enter password">*@
                        @Html.PasswordFor(m => m.Password, new { @id = "login-password", @class = "form-control", @placeholder = "Enter password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-lg-6 col-sm-7 controls pull-right">
                            <input id="btn-fblogin" type="submit" name='action' value="Submit" class="btn btn-success pull-right" />
                            <input id="btn-login" type="submit" name='action' value="Cancel" class="btn btn-cancel pull-right Margin-R-10" />
                           
                        </div>

                    </div>




                </div>
            </div>
        </div>

        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>



                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="Email Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="icode" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                <span style="margin-left:8px;">or</span>
                            </div>
                        </div>

                        <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                            </div>

                        </div>



                    </form>
                </div>
            </div>




        </div>
    </div>

    <div class="right-corner-wrapper">
        <div class="login-right-corner-div"></div>
        <div class="login-right-corner"></div>
    </div>
    }

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap/v3.3.6/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
            $("#btn_cancel").click(function () {
            $("#usernm").val('');
            $("#password").val('');
            $("#login-alert").css("display", "block");
           
        });
    </script>
</body>
</html>